body {
    position: relative;
}
#welcome {padding-top:98px;height:700px;color:  #d8ccc0; font-family: 'Fredericka the Great', cursive; background-color: #141414; text-align: center;}
#about {padding-top:50px;height:700px;color: #141414; font-family: 'Poiret One', cursive; background-color: #ffe4bc;}
#portfolio {padding-top:50px;height:700px;color: #141414; font-family: 'Poiret One', cursive; background-color:  #ffddbc;}
#contact {padding-top:50px;height:900px;color: #141414; font-family: 'Poiret One', cursive; background-color:  #ffd5bc;}
#footer {text-align:center; padding-top:10px;height:50px;color: #ffe4bc; font-family: 'Poiret One', cursive; font-size:20px; background-color: #141414;}

.navfont {
    font-family: 'Cutive Mono', monospace;
}

/* unvisited link */
#links:link {
    color: #ffddbc;
}

/* visited link */
#links:visited {
    color: #ff8b17;
}

/* mouse over link */
#links:hover {
    color: hotpink;
}

/* selected link */
#links:active {
    color: #f7f306;
}

p {
    font-size: 20px;
    font-family: 'Cutive Mono', monospace;
}

#abouth {
    border-bottom:double;
}

/* #aboutp {
    background-color: white;
}  */

#skills {
    font-size: 18px;
    font-family: 'Cutive Mono', monospace;
}



* {
    box-sizing: border-box;
}

/* Center website */
.main {
    max-width: 300px;    /* org 1000px  */
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 1px -6px; /* margin: 10px -16px; */
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 2px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 14px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#contacttext {
    text-align: center;
}


/* The device with borders */
.smartphone {
    position: relative;
    width: 260px;
    height: 540px;
    margin: auto;
    border: 6px black solid;
    border-top-width: 50px;
    border-bottom-width: 50px;
    border-radius: 26px;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 50%;
    bottom: -55px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 248px;
    height: 445px;
    background: white;
  }



