body {
    position: relative;
}
#welcome {padding-top:98px;height:700px;color:  #d8ccc0; font-family: 'Fredericka the Great', cursive; background-color: #141414; text-align: center;}
#about {padding-top:50px;height:900px;color: #141414; font-family: 'Poiret One', cursive; background-color: #d8ccc0;}
#portfolio {padding-top:50px;height:900px;color: #141414; font-family: 'Poiret One', cursive; background-color:  #d8ccc0;}
#contact {padding-top:50px;height:900px;color: #141414; font-family: 'Poiret One', cursive; background-color:  #d8ccc0;}
#footer {text-align:center; padding-top:10px;height:50px;color: #d8ccc0; font-family: 'Poiret One', cursive; font-size:20px; background-color: #141414;}

.navfont {
    font-family: 'Cutive Mono', monospace;
}

/* unvisited link removed default decoration*/
#links:link {
    color: #ffddbc;
    text-decoration: none;
}

/* visited link */
#links:visited {
    color: #fff017;
}

/* mouse over link */
#links:hover {
    color: hotpink;
}

/* selected link */
#links:active {
    color: #f7f306;
}

p {
    font-size: 20px;
    font-family: 'Cutive Mono', monospace;
}

#abouth {
    border-bottom:double;
    word-wrap: break-word;
}




#skills {
    font-size: 18px;
    font-family: 'Cutive Mono', monospace;
}
/*gifs */
.break {
    background: white;
    position: relative;
    padding-top: 10px;
}


/* START of Portfolio filtering */

* {
    box-sizing: border-box;
}

/* Center website */
.main {
    max-width: 300px;    /* org 1000px  */
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

#rows {
    margin: 10px -6px; /* margin: 10px -16px; */
}

/* Add padding BETWEEN each column */
#rows,
#rows > .column {
    padding: 2px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
#rows:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    font-family: 'Cutive Mono', monospace;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 14px;
  background-color: white;
  cursor: pointer;
  font-family: 'Cutive Mono', monospace;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#contacttext {
    text-align: center;
}

#break1 {
    background-color: azure;
    padding: 30;
}

  


