#welcome {color:  #ffffff; z-index: 10; background-color: #0f0e0ff8; } 
#about {color: #ffffff; z-index: 10; background-color: #0f0e0ff8; font-family: 'Raleway', sans-serif; padding-bottom:100px;}
#projects {padding-top:10px; font-family: 'Raleway', sans-serif; text-align:center; color: #e0dcdc; z-index: 10; background-color: #0f0e0ff8; padding-bottom:200px;}
#footer { padding-top:10px;z-index: 10; background-color: #0f0e0ff8; text-align:center; font-size:20px; color:rgb(243, 151, 97); font-family:'Raleway', sans-serif;} 

@import "compass/css3"; /*imports http://compass-style.org/reference/compass/css3/*/

.topnav {
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    background-color:  #0f0e0ff8;
}

/*link style */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
}

/* color changes when hovering over links */
.topnav a:hover {
    background-color:rgb(202, 147, 44);
    color: #ffffff;
}


/* Hides link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .icon-bar {
      color:white;
  }

  a {
    color: white;
    text-decoration: none; /* no underline */
  }

/* global class*/

.no-padding{
    padding: 0 !important;
}

/* Adding Moon with pulse*/
#luna {
    background: url(../images/moon1.png) no-repeat;
    background-position: center;
    margin: auto;
   background-size: 120%;
    border-radius: 50%;
  width: 250px;
  height: 250px;
    border: 2px solid rgb(224, 161, 44);
    box-shadow: 0 0 50px rgb(248, 242, 242);
    animation: pulsate 2s ease-out infinite;
    margin-top:10px;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 0 rgb(241, 229, 193);
    }
    50% {
        box-shadow: 0 0 17px rgb(238, 237, 229);
    }
    100% {
        box-shadow: 0 0 0 rgb(226, 217, 217);
    }
}


#greeting {
    font-family: 'Monoton', cursive;
    padding:30px;
    text-align: center;
    font-size: 30px;
    color: rgb(243, 151, 97);
}

#me {
    max-width: 100%;
    padding-bottom:100px;
}



 #background1 {
    position: relative;
    left: 0;
    height: 100%; 
    width: 100%;
    background: transparent;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
    z-index: 1;  /*Because the image has a z-index of 1, it will be placed on top of the luciernagas.*/
} 


/* fireflies start here */
.luciernagas {
    position: absolute; /*fixed*/
    /*margin-top:250px; */
   /* bottom: 100px;*/
   /* left: 350px; */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(245, 189, 3, 0.973);
    box-shadow: 0px 0px 10px rgba(202, 245, 8, 0.75);
}




#heading1 {
    text-align:center;
    font-family: 'Monoton', cursive;
    padding-top:60px; 
    color:rgb(243, 151, 97);


    
}


#paragraph {
    padding-top:50px;
    word-wrap: normal;
    width:80%;
    margin:auto;
    color:rgb(255, 255, 255);
 font-size: 20px;
    font-family: 'Raleway', sans-serif;
    
  
}


#dev {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding-top: 25px; 
    color:rgb(255, 255, 255);
   
    
}

.devFont{
    color: rgb(243, 151, 97);
    font-family: 'Raleway', sans-serif;

}

.dot {
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  display: inline-block;
}


.heading2 {
    font-family: 'Monoton', cursive;
    margin-bottom: 50px;
    color: rgb(243, 151, 97);
}

.projectLinks a {
    color: white;
    text-decoration: none;
}




