body {
    position: relative;
}
#welcome {padding-top:50px;height:500px;color: #d8ccc0; font-family: 'Fredericka the Great', cursive; background-color: #141414; text-align: center;}
#about {padding-top:50px;height:500px;color: #141414; font-family: 'Poiret One', cursive; background-color: #d8ccc0;}
#portfolio {padding-top:50px;height:500px;color: #141414; font-family: 'Poiret One', cursive; background-color: #d8ccc0;}
#projects {padding-top:50px;height:500px;color: #141414; font-family: 'Poiret One', cursive; background-color: #d8ccc0;}

.nav navbar-nav{
    font-family: 'Poiret One';
}

p {
    font-size: 20px;
}

#skills {
    font-size: 18px;
}

.caption {
    text-align: center;
}



